https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [1]:
import pandas as pd

Alineamiento como SQL:
cuando se alinea por "inner" solo se muestra lo que tienen en commun los dos dataframes
"outer" muestra lo que esta en comun y todos los elementos de los dos dataframes que no est√°n en comun

Append - misma situacion que con el concat pero con la diferencia que el resultado se apila uno encima del otro.

In [56]:
 df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [3]:
 df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                   'B': ['B4', 'B5', 'B6', 'B7'],
                   'C': ['C4', 'C5', 'C6', 'C7'],
                   'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

In [4]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                      'B': ['B8', 'B9', 'B10', 'B11'],
                       'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                    index=[8, 9, 10, 11])

In [5]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                       'D': ['D2', 'D3', 'D6', 'D7'],
                        'F': ['F2', 'F3', 'F6', 'F7']},
                       index=[2, 3, 6, 7])

In [30]:
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')

In [31]:
result = pd.concat([df1, s1], axis=1)
result

    A   B   C   D   X
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

In [38]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.6.final.0
python-bits: 64
OS: Linux
OS-release: 4.14.29-linuxkit
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.23.4
pytest: 3.8.2
pip: 19.1.1
setuptools: 41.0.1
Cython: 0.28.5
numpy: 1.16.2
scipy: 1.1.0
pyarrow: 0.13.0
xarray: None
IPython: 7.1.1
sphinx: 1.8.1
patsy: 0.5.1
dateutil: 2.8.0
pytz: 2018.7
blosc: None
bottleneck: 1.2.1
tables: 3.4.4
numexpr: 2.6.8
feather: None
matplotlib: 3.0.0
openpyxl: 2.5.8
xlrd: 1.1.0
xlwt: 1.3.0
xlsxwriter: 1.1.1
lxml: 4.2.5
bs4: 4.6.3
html5lib: 0.9999999
sqlalchemy: 1.2.14
pymysql: 0.9.2
psycopg2: 2.7.5 (dt dec pq3 ext lo64)
jinja2: 2.10
s3fs: None
fastparquet: None
pandas_gbq: None
pandas_datareader: None

In [40]:
result = pd.concat([df1, s1], axis=1, ignore_index=True)
result

    0   1   2   3   4
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

In [47]:
s2 = pd.Series(['X0', 'X1', 'X2', 'X3'], index=['A', 'B', 'C', 'D'])

In [48]:
result = df1.append(s2, ignore_index=True)

In [49]:
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3

In [50]:
#ejercicio

In [58]:
 data1 =  pd.DataFrame({'nombre': ['tom', 'juan', 'pepe'],
                        'telefono': ['77','88','66']
                         })

In [59]:
data1

  nombre telefono
0    tom       77
1   juan       88
2   pepe       66

In [75]:
incidencias = [ ['pepe', 'no correo'] ,
                ['juan', 'no apago'] ,
                ['pepe', 'puerta abierta'],
                ['juan', 'luz encendida'] ,
                ['tom', 'enfermo'],
                ['juan', 'tubo abierto'],
                ['pepe', 'luz encendida']
              ]

In [76]:
data2 = pd.DataFrame(incidencias, columns = ['nombre', 'incidencia']) 
data2

  nombre      incidencia
0   pepe       no correo
1   juan        no apago
2   pepe  puerta abierta
3   juan   luz encendida
4    tom         enfermo
5   juan    tubo abierto
6   pepe   luz encendida

In [79]:
result = pd.merge(data1, data2, how='outer', on=['nombre', 'nombre'])

In [80]:
result

  nombre telefono      incidencia
0    tom       77         enfermo
1   juan       88        no apago
2   juan       88   luz encendida
3   juan       88    tubo abierto
4   pepe       66       no correo
5   pepe       66  puerta abierta
6   pepe       66   luz encendida

In [82]:
#merge indicator
df1 = pd.DataFrame({'col1': [0, 1], 'col_left': ['a', 'b']})
df2 = pd.DataFrame({'col1': [1, 2, 2], 'col_right': [2, 2, 2]})
pd.merge(df1, df2, on='col1', how='outer', indicator=True)

   col1 col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b        2.0        both
2     2      NaN        2.0  right_only
3     2      NaN        2.0  right_only