In [24]:
import pyodbc
import pandas as pd
import urllib
from sqlalchemy import create_engine

#parametros del servidor
server = 'den1.mssql8.gear.host' 
database = 'pytest' 
username = 'pytest' 
password = 'Ragnarok.005' 

#tecnica para crear el motor
params = urllib.parse.quote_plus('DRIVER={ODBC Driver 17 for SQL Server};'+'SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
engine = create_engine("mssql+pyodbc:///?odbc_connect=%s" % params)

#crea conexion
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

In [25]:
#funcion que toma como parámetro cualquier dataframe y lo sube a una tabla del servidos usando como nombre de tabla el nombre de la primera columna del dataframe y reemplaza el existente
def dfToSQL(anyDF):
    name = anyDF.columns[0]
    anyDF.to_sql(name, con=engine, if_exists='replace', index=False)

In [26]:
#se crean 2 dataframes con datos de prueba
paisSA = ['Chile', 'Peru', 'Argentina', 'Colombia', 'Ecuador', 'Mexico', 'Brazil','Uruguay', 'Paraguay', 'Bolivia','Venezuela', 'Ecuador']
paisCA = ['Costa Rica', 'El Salvador', 'Guatemala','Belize', 'Nicaragua', 'Honduras', 'Panamá']
suramerica = pd.DataFrame(paisSA, columns = ['PaisSA'])
centroamerica = pd.DataFrame(paisCA, columns = ['PaisCA'])

In [27]:
#llamada a la función con los dataframe de prueba
dfToSQL(suramerica)
dfToSQL(centroamerica)

In [32]:
#conexion para la primera tabla
SQL_Query = pd.read_sql_query(
'''select * from  [dbo].[PaisSA] ''', conn)
df = pd.DataFrame(SQL_Query)

In [33]:
#conexion para la segunda tabla
SQL_Query1 = pd.read_sql_query(
'''select * from  [dbo].[PaisCA] ''', conn)
df1 = pd.DataFrame(SQL_Query1)

In [36]:
df1

        PaisCA
0   Costa Rica
1  El Salvador
2    Guatemala
3       Belize
4    Nicaragua
5     Honduras
6       Panamá

In [37]:
df

       PaisSA
0       Chile
1        Peru
2   Argentina
3    Colombia
4     Ecuador
5      Mexico
6      Brazil
7     Uruguay
8    Paraguay
9     Bolivia
10  Venezuela
11    Ecuador